body{
    padding: 100px;
    display: grid;
    justify-content: center;
    align-self: center;
}

.box{
    border: 10px double black;
    border-radius: 12px;
    background-color: rgb(236, 178, 102);
    padding: 20px;
    width: 400px;
}

input{
    border: 5px double black;
    border-radius: 9px;
}

li{
    margin-top: 20px;
    margin-bottom: 20px;
}

.delete{
    margin-left: 10px;
    color: red;
}

div h1{
    text-align: center;
    text-decoration: underline;
}
